<form action = "/names">
  <input type="text" name="name">
  <input type="text" name="name2">
  <input type="submit" value="Submit">
</form>


<!-- <form action = "/names">
  <input type="text" name="name2">
  <input type="submit" value="Submit player 2">
</form> -->

<h1> Player 1: <%= @name %> </h1>
<h1> Player 2: <%= @name2 %> </h1>
